<?xml version="1.0" encoding="utf-8" ?>
<!-- Log4Net Configuration -->
<log4net>
  <appender name="ConsoleLogAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%-level] %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <!-- ログのレベルを指定 -->
    <level value="ALL" />
    <!-- どのログ出力先を使用するか -->
    <appender-ref ref="ConsoleLogAppender" />
  </root>
</log4net>